<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrer batteristatus</title>
    <style>

/* Prettify form. Make align vertically using css grid */
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    margin-bottom: 50px;
}

    </style>
</head>
<body>
    <h1>Registrer batteristatus</h1>

    <!-- form for adding vessel -->
    <!-- TBA -->
    koko

    <!-- show message if one was provided -->
    {% if message is defined %}
    <i>{{ message }}</i>
    {% endif %}

</body>
</html>
