<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrer fartøy</title>
    <style>

/* Prettify form. Make align vertically using css grid */
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    margin-bottom: 50px;
}

    </style>
</head>
<body>
    <h1>Registrer nytt fartøy</h1>

    <!-- form for adding vessel -->
    <form method="post" action="">
        <label for="name">Navn:</label>                     <input name="name" type="text">
        <label for="fpv">FPV:</label>                       <input name="fpv" type="checkbox">
        <label for="camera">Kamera:</label>                 <input name="camera" type="checkbox">
        <input type="submit" value="Lagre informasjon">
    </form>

    <!-- show message if one was provided -->
    {% if message is defined %}
    <i>{{ message }}</i>
    {% endif %}
</body>
</html>
